.border {
    
    border: 1px solid black;
    position: absolute; 
    width: 500px;
    height: 350px;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(8,8,32,1) 100%);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);

}

.photo {

    width: 100px;
    height: 130px; 
    position: absolute;
    right: 5px;
    top: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
}
.name {
    position: absolute; 
    top: 115px;
    font-size: 25px;
    left: 55px;
    color: #80aeeb;
    font-family: 'Anton', sans-serif;

    

}


.job {
    position: absolute;
    bottom: 140px;
    left: 75px;
    font-size: 15px;
    color: #80aeeb;
    font-family: 'Anton', sans-serif;

}

.line {
    
    position: absolute;
    top: 165px;
    border-bottom: 5px solid white;
    border-radius: 2px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,233,250,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,233,250,1);
    box-shadow: 0px 3px 5px 0px rgba(0,233,250,1);
    width: 240px
    

}

.line2 {


    position: absolute;
    bottom: 85px;
    right: 0px;
    width: 240px;
    border-bottom: 5px solid white;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,233,250,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,233,250,1);
    box-shadow: 0px 3px 5px 0px rgba(0,233,250,1);
}

.line3 {

    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 240px;
    border-bottom: 5px solid white;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,233,250,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,233,250,1);
    box-shadow: 0px 3px 5px 0px rgba(0,233,250,1);
}






.adress {

    position: absolute; 
    right: 50px;
    bottom: 100px;
    color: #b0c9eb;
    font-family: 'Cairo', sans-serif;
}

.tel {

    position: absolute; 
    right: 56px;
    bottom: 75px;
    color: #80aeeb;
    font-family: 'Cairo', sans-serif;
}

.mail {

    position: absolute;   
    left: 15px;
    bottom: 5px;
    color: #80aeeb;
    font-family: 'Cairo', sans-serif;
}

.linkedin { 

    position : absolute; 
    top: 15px;
    left: 5px;
    width: 50px; 
    height: 50px;
    background-image: url(linkedin.png);
    background-repeat: no-repeat;
    background-size: contain;
    
    
}

.linkedin:hover{ 
    position : absolute; 
    top: 15px;
    left: 5px;
    width: 65px; 
    height: 65px;
    background-image: url(linkedin.png);
    background-repeat: no-repeat;
    background-size: contain;
}


.github {

    position : absolute; 
    top: 15px;
    left: 75px;
    width: 50px; 
    height: 50px;
    background-image: url(github.png);
    background-repeat: no-repeat;
    background-size: contain;

}

.github:hover {

    position : absolute; 
    top: 15px;
    left: 75px;
    width: 65px; 
    height: 65px;
    background-image: url(github.png);
    background-repeat: no-repeat;
    background-size: contain;

}